@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Neucha&family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}


@media screen and (max-width: 420px) {
  body {
     background-color: black;
     font-size:99;
  }

  .article-wrapper {
    margin: 1rem 2vws;
    padding: 4vh 5vw;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.406);
  border-radius: 0.1rem;
  background-color: rgb(139, 194, 194);
  font-size: 99%;
}

.article-wrapper-dark {
  margin: 1rem 2vw;
  padding: 4vh 4vw;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.406);
  border-radius: 0.1rem;
  background-color: rgb(1, 43, 43);
  font-size: 99%;
}

.article__cover img {
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.406);
  margin: 4px 1px;
  /* padding: 10px; */
  display: block;

}
  .splitscreen{
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    padding: auto;
    background-color: rgb(210, 224, 225);
    /* color: white; */
    }
    
    .splitscreen-dark{
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    padding: auto;
    background-color: rgb(19, 67, 67);
    color: white;
    }
    
    .right-split {
      width: 100%;
      padding: 0px 0vw 2vw 0px;
    }
    
    .right-split-dark {
    width:100%;
    padding: 0px 0vw 2vw 0px;
    }
    
    .left-split {
    width: 0%;
    
    }
    
    .left-split-dark {
      width: 0%;
    }

    .card {
      /* width: 80%;
      height: 90%; */
      /* width: 25rem; */
      margin: 0vw 5vw;
      border-radius: 0.7rem;
      background-color: rgba(227, 238, 238, 0.435);
      font-size: 99%;
      /* transition-duration: 400ms; */
    }
    
    .card img{
      border-radius: 0.4rem 0.4rem 0rem 0rem;
    }
    
    
}

@media screen and (min-width: 420px) {

  .article-wrapper {
    margin: 1rem 1rem;
  padding: 8vh 11vw;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.406);
  border-radius: 0.6rem;
  background-color: rgb(139, 194, 194);
  font-size: 125%;
}

.article-wrapper-dark {
  margin: 1rem 1rem;
  padding: 8vh 11vw;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.406);
  border-radius: 0.6rem;
  background-color: rgb(1, 43, 43);
  font-size: 125%;
}

.article__cover img {
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.406);
  margin: 4vh 2vh;
  /* padding: 10px; */
  display: block;

}

  .splitscreen{
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    padding: auto;
    background-color: rgb(210, 224, 225);
    /* color: white; */
    }
    
    .splitscreen-dark{
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    padding: auto;
    background-color: rgb(19, 67, 67);
    color: white;
    }
    
    .right-split {
      width: 80%;
      margin: 10px;
      padding: 10px 8vw 2vw 20px;
      /* background-color: rgb(197, 242, 242); */
    }
    
    .right-split-dark {
    width:80%;
    margin: 10px;
    padding: 10px 8vw 2vw 20px;
    /* background-color: rgb(11, 108, 108); */
    }
    
    .left-split {
    width: 20%;
    /* background-color: cadetblue; */
    padding: 0px 0vw 2vw 0px;
    }
    
    .left-split-dark {
      width: 20%;
      /* background-color: rgb(184, 226, 228); */
      padding: 0px 0vw 2vw 0px;
    }

    .card {
      width: 100%;
      height: 100%;
      width: 25rem;
      border-radius: 0.7rem;
      background-color: rgba(227, 238, 238, 0.435);
      font-size: 120%;
      transition-duration: 400ms;
    }
    
    .card img{
      border-radius: 0.7rem 0.6rem 0.5rem 0.5rem;
    }
    
    .card:hover {
      transform: scale(1.08);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.406);
    }
    

}


.detail{
  background-color: #f5f5f5;
  padding : 2em;
}



.code {
  position: relative;
  font-size: 70%;
  /* border-radius: 0.7rem; */
  /* padding: 0px 20px; */
  margin: 0px 20px;
}

.code pre {
  padding-top: 2rem !important;
  transition: .3s ease all;
}

.code__icons {
  position: absolute;
  top: 1px;
  right: 18px;
  z-index: 1;
}

.code__icons button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.backBtn-dark{
  
  margin: 100px 2px;
  padding: 0rem 10rem;
  border: none; 
  outline: none; 
  cursor: pointer;
  font-size: 18px; 
}