@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Neucha&family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}


.detail{
  background-color: #f5f5f5;
  padding : 2em;
}
.article-wrapper {
  padding: 5rem 9rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.406);
  border-radius: 0.6rem;
  background-color: rgb(139, 194, 194);
  font-size: 120%;
}

.article-wrapper-dark {
  padding: 5rem 9rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.406);
  border-radius: 0.57rem;
  background-color: rgb(1, 43, 43);
  font-size: 120%;
}

.article__cover img {
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.406);
  margin: 1vh 2vh;
  /* padding: 10px; */
  display: block;

}

.splitscreen{
display: flex;
flex-direction: row;
/* height: 100vh; */
padding: auto;
background-color: rgb(210, 224, 225);
/* color: white; */
}

.splitscreen-dark{
display: flex;
flex-direction: row;
/* height: 100vh; */
padding: auto;
background-color: rgb(19, 67, 67);
color: white;
}

.right-split {
  width: 75%;
  margin: 10px;
  padding: 10px 8vw 2vw 20px;
  /* background-color: rgb(197, 242, 242); */
}

.right-split-dark {
width:75%;
margin: 10px;
padding: 10px 8vw 2vw 20px;
/* background-color: rgb(11, 108, 108); */
}

.left-split {
width: 25%;
/* background-color: cadetblue; */
}

.left-split-dark {
  width: 25%;
  /* background-color: rgb(184, 226, 228); */
}


.code {
  position: relative;
  font-size: 70%;
  padding: 0px 20px;
}

.code pre {
  padding-top: 2rem !important;
  transition: .3s ease all;
}

.code__icons {
  position: absolute;
  top: 3px;
  right: 18px;
  z-index: 1;
}

.code__icons button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}